@model IEnumerable<HomeworkMVC.Models.Products>

@{
    Layout = "_Layout";
}

<body>
    <main>
        <h1>Products</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                    </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                <tr>
                        <td>@product.Name</td>
                        <td>@product.Price</td>
                        <td>
                            <a class="btn btn-primary" href="@Url.Action("AddToCart", "Cart", new { id = product.Id })">Add To Cart</a>
                        </td>
                </tr>
                }
            </tbody>
        </table>
    </main>
</body>
</html>
